body {
    font-family: Calibri;
    background-color: white;
    margin-top: 40px;
    margin-left: 20px;
}

h1 {
    font-size: 24px;
    color: black;
    font-weight: bold;
}

.negrita {
    font-weight: bold;
    margin-bottom: 6px;
    display: block;
}


.form-group > div {
    margin-bottom: 15px;
}

.input-texto {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 0px; 
    width: 250px;
    box-sizing: border-box;
}


/* Botones */
.boton-verde,
.boton-rojo,
.boton-azul,
.boton-negro {
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
    margin-right: 10px;
}

.boton-verde {
    background-color: forestgreen;
}

    .boton-verde:hover {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.7);
        transform: translateY(-2px);
    }

.boton-negro {
    background-color: black;
}

    .boton-negro:hover {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.7);
        transform: translateY(-2px);
    }

.boton-rojo {
    background-color: red;
}

    .boton-rojo:hover {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.7);
        transform: translateY(-2px);
    }

.boton-azul {
    background-color: mediumblue;
}

    .boton-azul:hover {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.7);
        transform: translateY(-2px);
    }
}